# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
helper_functions/__pycache__/

# Virtual environments
venv/
env/
ENV/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

